@model CarPricingViewModel

@{
    ViewData["Title"] = "UpdateCarPricing";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Araç Fiyatı Güncelle</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Araçlar</a></li>
                    <li class="breadcrumb-item">Araç Listesi</li>
                    <li class="breadcrumb-item">Araç Fiyatı Güncelle</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label for="select-cars">Araç</label>
                                <select class="form-control" id="select-cars" asp-for="UpdateCarPricingDto.CarID">
                                    @foreach (var item in ViewBag.Cars)
                                    {
                                        <option value="@item.Value" selected="@(ViewBag.SelectedCar == item.Value)">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label for="select-period">Ödeme Periyodu</label>
                                <select class="form-control" id="select-period" asp-items="@ViewBag.Pricing" asp-for="UpdateCarPricingDto.PricingID">
                                    @foreach (var item in ViewBag.Pricing)
                                    {
                                        <option value="@item.Value" selected="@(ViewBag.SelectedPricing == item.Value)">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group">
                                <label for="txt-amount">Fiyat</label>
                                <input type="text" class="form-control" id="txt-amount" value="@Model.GetCarPricingDto.Amount" asp-for="UpdateCarPricingDto.Amount" placeholder="Fiyat Giriniz" />
                            </div>
                        </div>
                    </div>
                    <input type="hidden" value="@Model.GetCarPricingDto.CarPricingID" asp-for="UpdateCarPricingDto.CarPricingID" />
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>

