@model List<ResultFooterDto>

<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2"><a href="#" class="logo">Car<span>book</span></a></h2>
                    <p>Seyahatinizi planlamak hiç bu kadar kolay olmamıştı! Aracınızı seçin, tarihleri belirleyin ve hemen yolculuğa başlayın!</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        @foreach (var item in ViewBag.SocialMedia)
                        {
                            <li class="ftco-animate"><a href="@item.Address"><span class="@item.Icon"></span></a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Menü</h2>
                    <ul class="list-unstyled">
                        <li><a asp-controller="Home" asp-action="Index" class="py-2 d-block">Ana Sayfa</a></li>
                        <li><a asp-controller="About" asp-action="Index" class="py-2 d-block">Hakkımızda</a></li>
                        <li><a asp-controller="Services" asp-action="Index" class="py-2 d-block">Hizmetlerimiz</a></li>
                        <li><a asp-controller="Pricing" asp-action="Index" class="py-2 d-block">Fiyatlandırma</a></li>
                        <li><a asp-controller="Cars" asp-action="Index" class="py-2 d-block">Araçlar</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Müşteri Desteği</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">SSS</a></li>
                        <li><a href="#" class="py-2 d-block">Ödeme Seçenekleri</a></li>
                        <li><a href="#" class="py-2 d-block">Rezervasyon İpuçları</a></li>
                        <li><a href="#" class="py-2 d-block">Gizlilik &amp; Çerez Politikaları</a></li>
                        <li><a asp-controller="Contact" asp-action="Index" class="py-2 d-block">Bize Ulaşın</a></li>
                    </ul>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">@item.Description</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">@item.Address</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">@item.Phone</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">@item.Email</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır | Gökmen Ada Tarafından Tasarlandı</p>
            </div>
        </div>
    </div>
</footer>

<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>